<div style="margin-bottom: 20px;"></div>
<div>
    <span>
        <button mat-button (click)=goBack()>Back To Accounts</button>
    </span>
    <span>
        <button mat-button [matMenuTriggerFor]="beforeMenu">Add Transaction</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <span>
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                    <mat-select required [formControl]='type'>
                        <mat-option value="Deposit">Deposit</mat-option>
                        <mat-option value="Withdraw">Withdraw</mat-option>
                    </mat-select>
                    <mat-label>Type</mat-label>
                </mat-form-field>
            </span>
            <span>
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                    <mat-label>amount</mat-label>
                    <input matInput [formControl]='amount'>
                </mat-form-field>
            </span>
            <span>
                <button mat-button (click)='addTransaction()'>Submit</button>
            </span>
        </mat-menu>
    </span>
</div>

<div>
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef> Transaction </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
    </ng-container>
  
    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="transactionAmount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> ${{element.transactionAmount.toFixed(2)}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



